<!DOCTYPE html>
<html>
    <head>
        <title>Project</title>
    </head>
    <body>
        <header>
            <ul>
                <li><a>Home</a></li>
                <li><a>Drivers</a></li>
                <li><a>About</a></li>
                <li><a>Contact</a></li>
            </ul>
        </header>
        <main content>
            <col1>
                <img>
                <p></p>
            </col1>
            <col2>
                <label>Login</label>
                <input type="text" name="email"><br><br>
                <input type="text" name="password"><br><br>
                <input  type="submit" value="Sign Up">
            </col2>
        </main content>
        <footer>
            
        </footer>
        
    </body>
</html>