<!DOCTYPE html>
<html>
    <head>
        <title>Project</title>
    </head>
    <body>
 
        <main content>
            
            <form class="">
                <h2>Driver</h2>
                <label>Name</label><br><br>
                <input type="text" name=" first_name">
                <input type="text" name=" last_name"><br><br>
                <label>Email</label>
                <input type="text" name="email"><br><br>
                <label>Password</label>
                <input type="text" name="password"><br><br>
                <label>Password Confirmation</label>
                <input type="text" name="password"><br><br>
                <button type="submit">Button</button>
            </form>
            
            <form class="">
                <label>User</label>
                <label>Name</label><br><br>
                <input type="text" name=" first_name">
                <input type="text" name=" last_name"><br><br>
                <label>Email</label>
                <input type="text" name="email"><br><br>
                <label>Password</label>
                <input type="text" name="password"><br><br>
                <label>Password Confirmation</label>
                <input type="text" name="password"><br><br>
                <button type="submit">Button</button>
            </form>
        </main content>
        
        
    </body>
</html>