<!DOCTYPE html>
<html>
    <head>
        <title>Project</title>
    </head>
    <body>
        <header>
            <ul>
                <li><a>Home</a></li>
                <li><a>Drivers</a></li>
                <li><a>About</a></li>
                <li><a>Contact</a></li>
            </ul>
        </header>
        <main content>
            <col1>
                <p>Order </p>
                <ul>
                    # here loop
                    <li></li>
                </ul>
                {{}}
                <button type="submit">Accept</button>
                <button type="submit">Decline</button>
            </col1>
            <col2>
                <h3>Welcome {{}}!</h3><br><br>
                <h1 ><a href="">Edit My Account </a></h1><br><br>
                <button type="submit">Logout</button>
            </col2>
        </main content>

        
    </body>
</html>